a {
  color: #11999E;
}

body {
  font-family: 'Merriweather', serif;
  font-size: 0.85em;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2em;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
}

hr {
  border: none;
  border-top: dotted 15px #EAF6F6;
  width: 10%
}

p {
  color: #40514E;
  line-height: 2;
}

.top-container {
  background-color: #EAF6F6;
  /* Providing padding to the top-container <div> */
  padding-top: 5px;
  /* To position child elements absolutely */
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 10%;
  top: 5%;
}

.pro {
  text-decoration-line: underline;
}

.bottom-cloud {
  bottom: 60%;
  left: 10%;
  position: absolute;
}

.sup-monkey {
  margin-top: -50px;
}

.middle-container {
  margin-top: 100px;
}

.circular-image {
  border-radius: 50%;
  height: 200px;
  margin: 0 auto 0 auto;
  overflow: hidden;
  width: 200px;
}

.profile {
  margin-bottom: 100px;
}

#profile {
  height: auto;
  width: 100%;
}

.contact-me {
  margin-top: 100px;
}

.para-center {
  margin: 50px auto 50px auto;
  text-align: left;
  width: 50%;
}

.skills {
  margin-top: 100px;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.skill-image-left {
  background-color: grey;
  border-radius: 50%;
  float: left;
  margin-right: 50px;
  width: 25%;
}

.skill-image-right {
  background-color: #e5df88;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
  width: 25%;
}

.clearfix {
  clear: both;
}

.contact-btn {
  background-color: #0DBAC1;
  border: 1px solid #0DBAC1;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  height: 30px;
  line-height: 2.25;
  text-decoration: none;
  width: 150px;
}

.contact-btn:hover {
  background-color: #74c1a3;
}

.bottom-container {
  background-color: #6FBFBF;
  margin-top: 100px;
}

.footer-link {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin: 50px 1.5%;
  text-decoration: none;
  width: 5%;
}

.footer-link:hover {
  color: #EAF6F6;
}

.copyright {
  color: white;
  font-size: 0.7rem;
  margin: 0 auto 50px auto;
  text-align: center;
}

.license {
  display: inline;
  font-size: 1px;
  margin-right: 5%;
}
