body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  margin: 0 auto;
  width: 30%
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #5588a3;
  /* Providing padding to the top-container <div> */
  padding-top: 100px;
  /* To position child elements absolutely */
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 5%;
}

.bottom-cloud {
  bottom: 60%;
  left: 20%;
  position: absolute;
}

.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: blue;
  height: 200px;
  width: 200px;
}

.pro {
  text-decoration-line: underline;
}
