a {
  color: #11999E;
}

body {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2em;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1;
}

.top-container {
  background-color: #5588a3;
  /* Providing padding to the top-container <div> */
  padding-top: 100px;
  /* To position child elements absolutely */
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 10%;
  top: 15%;
}

.pro {
  text-decoration-line: underline;
}

.bottom-cloud {
  bottom: 60%;
  left: 10%;
  position: absolute;
}

.middle-container {
  /* Put Rules here */
}

.circular-image {
  border-radius: 50%;
  height: 200px;
  margin: 20px auto 20px auto;
  overflow: hidden;
  width: 200px;
}

#profile {
  height: auto;
  width: 100%;
}

.skill-row {
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.skill-image-left {
  background-color: grey;
  border-radius: 50%;
  float: left;
  margin-right: 50px;
  width: 25%;
}

.skill-image-right {
  background-color: #e5df88;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
  width: 25%;
}

.bottom-container {
  /* Put Rules here */
}
